<html>
    <head>
        <title>清蒸微博</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            function setup(){

            }
            var search = function(){
               var keyword = $('#id-text-keyword').val()

            }
            var bind_action = function(){
                $('#id-btn-search').on('click',function(){
                    search();
                });
            }
            function __main(){

            }
            $(document).ready(function(){
                __main();
            });
        </script>
    </head>
    <body>
        <header class="banner navbar navbar-default navbar-static-top">
            <div class="container">
                <!--<ul class="nav navbar-nav navbar-left">
                </ul>-->
                <div class="navbar navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                    <button id="id-btn-search" class="btn btn-default">搜索</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">登录/注册</a></li>
                </ul>

            </div>
        </header>
        <div class="container">
            <div class="form-group">
                <div class="col-sm-10">
                   <input style="height:68px" id="id-text-tweet-add"  class="form-control" type="text" >
                </div>
                <div class="col-sm-2">
                    <button style="height:68px" id="id-btn-tweet-add"  class="btn btn-success"> Send </button>
                </div>
            </div> 
        </div>
    </body>
</html>